# Configuration file

####################
# block
####################

block {
    I:advancedExclusiveFilteringHopper=2270
    I:advancedFilteringHopper=2271
    I:basicFilteringHopper=2272
    I:blockNewSkull=2273
    I:blockShifter=2274
    I:emulator=2275
    I:endWalls=2276
    I:enderFlower=2277
    I:enderToggler=2278
    I:enderTogglerAir=2279
    I:enderpearlBlock=2280
    I:enderpearlBrickStairs=2281
    I:endiumBlock=2282
    I:endstoneBrick=2283
    I:endstoneStairs=2284
    I:entityShifter=2285
    I:exclusiveFilteringHopper=2286
    I:infiniteWaterSource=2287
    I:inventoryBinder=2288
    I:rawEndium=2289
    I:speedyBasicFilteringHopper=2290
    I:speedyExclusiveFilteringHopper=2291
    I:speedyHopper=2292
    I:timeManipulator=2293
}


####################
# enchantments
####################

enchantments {
    I:enchantment.imperviousness=228
}


####################
# item
####################

item {
    I:enderScythe=30000
    I:enderTag=30001
    I:endiumAxe=30002
    I:endiumBoots=30003
    I:endiumChestplate=30004
    I:endiumHelmet=30005
    I:endiumIngot=30006
    I:endiumLeggings=30007
    I:endiumPickaxe=30008
    I:endiumShovel=30009
    I:endstoneRod=30010
    I:infiniteBucket=30011
    I:infusedGem=30012
    I:itemNewSkull=30013
}


####################
# mod integration
####################

"mod integration" {
    B:"Integrate BuildCraft|Transport"=true
    B:"Integrate EE3"=true
    B:"Integrate Forestry"=true
    B:"Integrate Thaumcraft"=true
    B:"Integrate ThermalExpansion"=true
    B:"Integrate TwilightForest"=true
    B:"Integrate ganysnether"=true
}


####################
# others
####################

others {
    B:activateShifters=true
    B:enableRandomHeadDrop=true
    B:enableTimeManipulator=true
    B:shouldDoVersionCheck=true
    B:togglersShouldMakeSound=true
}


