# Configuration file

####################
# block
####################

block {
    I:blockDiamond=1310
    I:blockEmerald=1311
    I:blockGold=1312
    I:blockIron=1313
    I:blockLapis=1314
    I:blockLimestone=1315
    I:blockLimestoneSlab.bottom=1316
    I:blockLimestoneSlab.top=1317
    I:blockLimestoneStairs.0=1318
    I:blockLimestoneStairs.1=1319
    I:blockLimestoneStairs.2=1320
    I:blockLimestoneStairs.3=1321
    I:blockLimestoneStairs.4=1322
    I:blockLimestoneStairs.5=1323
    I:blockLimestoneStairs.6=1324
    I:blockLimestoneStairs.7=1325
    I:blockMarble=1326
    I:blockMarblePillar=1327
    I:blockMarblePillarSlab.bottom=1328
    I:blockMarblePillarSlab.top=1329
    I:blockMarbleSlab.bottom=1330
    I:blockMarbleSlab.top=1331
    I:blockMarbleStairs.0=1332
    I:blockMarbleStairs.1=1333
    I:blockMarbleStairs.2=1334
    I:blockMarbleStairs.3=1335
    I:blockMarbleStairs.4=1336
    I:blockMarbleStairs.5=1337
    I:blockMarbleStairs.6=1338
    I:blockMarbleStairs.7=1339
    I:blockRedstone=1340
    I:bookshelf=1341
    I:carpet=1342
    I:carpetFloor=1343
    I:cloud=1344
    I:concrete=1345
    I:dirt=1346
    I:factory=1347
    I:fenceIron=1348
    I:fft=1349
    I:glass=1350
    I:hellrock=1351
    I:holystone=1352
    I:ice=2800
    I:icePillar=1353
    I:iceStairs.0=1354
    I:iceStairs.1=1355
    I:iceStairs.2=1356
    I:iceStairs.3=1357
    I:iceStairs.4=1358
    I:iceStairs.5=1359
    I:iceStairs.6=1360
    I:iceStairs.7=1361
    I:lavastone=1362
    I:lightgem=1363
    I:netherBrick=1364
    I:obsidian=1365
    I:roadLine=1366
    I:sandSnakestone=1367
    I:sandStone=1368
    I:sandstoneScribbles=1369
    I:snakestone=1370
    I:snakestoneObsidian=1371
    I:stoneMoss=1372
    I:stonebrick=1373
    I:stonebricksmooth=1374
    I:temple=1375
    I:templeMossy=1376
    I:thinGlass=1377
    I:tyrian=1378
    I:wood-birch=1379
    I:wood-jungle=1380
    I:wood-oak=1381
    I:wood-spruce=1382
}


####################
# general
####################

general {
    # Changes pane rendering algorithm a bit.
    B:"Add panes"=true

    # Use alternative crafting recipe for the chisel
    B:"Alternative recipe"=false

    # Amount of limestone to generate in the world; use 0 for none
    I:"Worldgen limestone amount"=4

    # Amount of marble to generate in the world; use 0 for none
    I:"Worldgen marble amount"=8

    # Traversing concrete roads, players will acceleration to this velocity. For reference, normal running speed is about 0.28. Set to 0 to disable acceleration.
    D:"concrete velocity"=0.45

    # Disable connected textures
    B:"disable connected textures"=false

    # Some blocks, like bookshelves and ice will not get overridden using "override vanilla blocks" setting. Set this to true to disable all overriding.
    B:"disable overriding blocks"=true

    # Reworks ice blocks to drop Ice shards when destroyed
    B:"ice drops ice shards"=true

    # Use old pillar textures
    B:"old pillar graphics"=false

    # If true, will override vanilla blocks with their chisel variations. If false, will create one new chiseled block for each vanilla block that can be chiseled.
    B:"override vanilla blocks"=false

    # Particle tick rate. Greater value = less particles.
    I:"particle tickrate"=1

    # Make variations of blocks have the same name, and use the description in tooltip to distinguish them.
    B:"use block descriptions in tooltips"=true

    # Add a new tab in creative mode and put all blocks that work with chisel there.
    B:"use custom creative tab"=true
}


####################
# item
####################

item {
    I:ballOMoss=7550
    I:chisel=7551
    I:cloudInABottle=7552
    I:iceshard=7553
}


####################
# tweaks
####################

tweaks {
    # Unlocalized name of the block that, when burned, will produce concrete (examples: lightgem, stone)
    S:"concrete recipe block"=gravel
}


