# Configuration file

####################
# block
####################

block {
    I:"EU Adapter ID"=1465
    I:"Energy Pipe ID"=1466
    I:"Fluid Pipe ID"=1467
    I:"Fluidic Nether Portal"=1468
    I:"Ground Limestone ID"=1469
    I:"MJ Adapter ID"=1470
    I:"Painted Plank ID"=1471
    I:"Slickwater Block ID"=1472
    I:"Socket ID"=1473
    I:"Start Pipe ID"=1474
    I:"tempRS ID"=1475
}


####################
# general
####################

general {
    B:"Allow Lava In Fluidic Nether Portal"=true
    I:"Amount of slickwater produced per operation (mb)"=1000
    B:"Enable Centrifuge Module"=true
    B:"Enable Colour Blind Mode"=false
    B:"Enable Fluidic Nether Portal"=true
    B:"Enable Grinder Module"=true
    B:"Enable Husher"=true
    B:"Enable Hydroelectric Turbines"=true
    B:"Enable Kiln Module"=true
    B:"Enable Multi Smelter Module"=true
    B:"Enable Piezo Electric Tiles"=true
    B:"Enable Solar Panel Modules"=true
    B:"Enable Water Intake"=true
    B:"Hand boiler smelts sand"=false
    I:"RF per EU"=4
    I:"RF per MJ"=10
}


####################
# item
####################

item {
    I:"Blank Module ID"=8260
    I:"Dusts ID"=8261
    I:"Hand Boiler ID"=8262
    I:"Module ID"=8263

    # This ID and the 15 following it will be taken up
    I:"Paint Can ID"=8264
    I:"RS Ingot ID"=8280
    I:"Redstone Wand ID"=8281
    I:"Remote ID"=8282
    I:"Slickwater Bucket ID"=8283
    I:"Wrench ID"=8284
}


