# Configuration file

####################
# block
####################

block {
    I:BUDBlockId=1500
    I:angelBlock=1501
    I:chandelierId=1502
    I:cobblestoneComprId=1503
    I:colorBlockBrickId=1504
    I:colorBlockDataId=1505
    I:coloredWoodId=1506
    I:conveyorId=1507
    I:cursedEarth=1508
    I:curtainId=1509
    I:decorative_1Id=1510
    I:decorative_2Id=1511
    I:drumId=1512
    I:enderLilyId=1513
    I:enderQuarryId=2530
    I:enderThermicPumpId=1514
    I:etherealBlockId=1515
    I:filingCabinetId=1516
    I:generatorId=1517
    I:greenScreen=1518
    I:magnumTorchId=1519
    I:peacefultableId=1520
    I:portal=1521
    I:soundMufflerId=1522
    I:spikeId=1523
    I:timerBlockId=1524
    I:tradingPost=1525
    I:transferNodeId=1526
    I:transferNodeRemoteId=1527
    I:transferPipeId=1528
    I:trashCan=1529
}


####################
# client_options
####################

client_options {
    B:disablePortalAnimation=false
}


####################
# ender quarry power
####################

"ender quarry power" {
    I:baseDrain=1800
    I:hardnessDrain=200
}


####################
# item
####################

item {
    I:buildersWandId=8900
    I:creativeBuildersWandId=8901
    I:destructionPickaxe=8902
    I:divisionSigilId=8903
    I:erosionShovel=8904
    I:ethericSword=8905
    I:goldenBagId=8906
    I:goldenLassoId=8907
    I:healingAxe=8908
    I:paintBrush=8910
    I:pipeJacketId=8911
    I:scannerId=8912
    I:sonarGogglesId=8913
    I:temporalHoe=8914
    I:unstableIngotId=8915
    I:upgradeNodeId=8916
    I:wateringCanId=8917
}


####################
# options
####################

options {
    I:EnderPumpDimensionExceptions <
     >
    I:deepDarkDimensionID=-100
    B:disableEnderPumpInAllDimensions=false
    B:unstableIngotsExplode=true
}


####################
# recipes
####################

recipes {
    B:disableAdvBUDBlockRecipe=false
    B:disableAdvFilingCabinet=false
    B:disableAngelBlockRecipe=false
    B:disableBUDBlockRecipe=false
    B:disableBuildersWandRecipe=false
    B:disableChandelierRecipe=false
    B:disableColoredBricksRecipe=false
    B:disableColoredWoodPlanksRecipe=false
    B:disableCompressedCobblestoneRecipe=false
    B:disableConveyorRecipe=false
    B:disableCurtainRecipe=false
    B:disableDestructionPickaxeRecipe=false
    B:disableDivisionSiginInChests=false
    B:disableDrumRecipe=false
    B:disableEnderLiliesInDungeons=false
    B:disableEnderThermicPumpRecipe=false
    B:disableEnergyPipeRecipe=false
    B:disableErosionShovelRecipe=false
    B:disableEtherealGlassRecipe=false
    B:disableEthericSwordRecipe=false
    B:disableFilingCabinet=false
    B:disableFilterPipeRecipe=false
    B:disableFilterRecipe=false
    B:disableGeneratorRecipe=false
    B:disableGoldenBagRecipe=false
    B:disableGoldenLassoRecipe=false
    B:disableHealingAxeRecipe=false
    B:disableMagnumTorchRecipe=false
    B:disableModSortingPipeRecipe=false
    B:disableNodeUpgradeSpeedRecipe=false
    B:disableObsidianRecipe=false
    B:disablePaintbrushRecipe=false
    B:disablePeacefulTableRecipe=false
    B:disablePeacefulWitherRecipe=false
    B:disableRainMufflerRecipe=false
    B:disableRationingPipeRecipe=false
    B:disableRedstoneClockRecipe=false
    B:disableRetrievalNodeLiquidRecipe=false
    B:disableRetrievalNodeRecipe=false
    B:disableReversingHoeRecipe=false
    B:disableSonarGogglesRecipe=false
    B:disableSortingPipeRecipe=false
    B:disableSoundMufflerRecipe=false
    B:disableSpikeRecipe=false
    B:disableTradingPostRecipe=false
    B:disableTransferNodeEnergyRecipe=false
    B:disableTransferNodeLiquidRecipe=false
    B:disableTransferNodeRecipe=false
    B:disableTransferPipeRecipe=false
    B:disableTrashCanRecipe=false
    B:disableUnstableIngotRecipe=false
    B:disableWateringCanRecipe=false
}


####################
# worldgen
####################

worldgen {
    I:retrogen_enderlillies=1
}


