# Configuration file

####################
# block
####################

block {
    I:Extractor=1244
    I:Imprinter=1265
    I:IndustrialApiary=1266
    I:LiquidDNA=1245
    I:Liquifier=1246
    I:Mutagen=1267
    I:MutagenProducer=1268
    I:Mutatron=1269
    I:MutatronAdv=1270
    I:Protein=1247
    I:Replicator=1248
    I:Sampler=1271
    I:Transposer=1249
}


####################
# display
####################

display {
    # Units to use when displaying power. Valid values: MJ, EU, RF
    S:PowerShowUnits=MJ
}


####################
# item
####################

item {
    I:ApiaryUpgrade=10900
    I:BeeReceptacle=10901
    I:ClimateModule=10902
    I:EnvProcessor=10915
    I:GeneSample=10903
    I:GeneSampleBlank=10904
    I:GeneTemplate=10905
    I:GeneticsProcessor=10906
    I:IndustrialGrafter=10907
    I:IndustrialScoop=10916
    I:Labware=10908
    I:LiquidDNABucket=10917
    I:LiquidDNACan=10918
    I:MutagenBucket=10909
    I:MutagenCan=10910
    I:MutagenTank=10911
    I:PowerModule=10912
    I:ProteinBucket=10919
    I:ProteinCan=10920
    I:UpgradeFrame=10913
    I:Waste=10914
}


####################
# nei
####################

nei {
    B:"Add samples"=true
}


