# Configuration file

####################
# block
####################

block {
    I:"Element Crop Air ID"=2520
    I:"Element Crop Earth ID"=2521
    I:"Element Crop Fire ID"=2522
    I:"Element Crop Water ID"=2523
    I:"Essence Blocks: Glass"=2524
    I:"Essence Blocks: Infused Stained Clay"=2525
    I:"Essence Blocks: Infused Wood"=2526
    I:"Essence Blocks: Infused Wool"=2527
    I:"Essence Blocks: Large Brick"=2528
    I:"Essence Blocks: Light Infused Blocks"=2529
    I:"Essence Blocks: Stone"=2530
    I:"Essence Ore Block ID"=2531
    I:"Essence Ore Nether Block ID"=2532
    I:"Magical Crop Aluminum"=2533
    I:"Magical Crop Ardite"=2534
    I:"Magical Crop Blaze ID"=2535
    I:"Magical Crop Certus Quartz ID"=2536
    I:"Magical Crop Coal ID"=2537
    I:"Magical Crop Cobalt"=2538
    I:"Magical Crop Copper ID"=2539
    I:"Magical Crop Diamond ID"=2540
    I:"Magical Crop Dye ID"=2541
    I:"Magical Crop Emerald ID"=2542
    I:"Magical Crop Ender ID"=2543
    I:"Magical Crop Essence ID"=2544
    I:"Magical Crop Experience ID"=2545
    I:"Magical Crop Ferrous"=2546
    I:"Magical Crop Force"=2547
    I:"Magical Crop Glowstone ID"=2548
    I:"Magical Crop Gold ID"=2549
    I:"Magical Crop Iron ID"=2550
    I:"Magical Crop Lapis Lazuli ID"=2551
    I:"Magical Crop Lead ID"=2552
    I:"Magical Crop Nether ID"=2553
    I:"Magical Crop Obsidian ID"=2554
    I:"Magical Crop Peridot"=2555
    I:"Magical Crop Platinum"=2556
    I:"Magical Crop Redstone ID"=2557
    I:"Magical Crop Ruby"=2558
    I:"Magical Crop Sapphire"=2559
    I:"Magical Crop Silver ID"=2560
    I:"Magical Crop Tin ID"=2561
    I:"Magical Soul Crop: Cow ID"=2562
    I:"Magical Soul Crop: Creeper ID"=2563
    I:"Magical Soul Crop: Ghast ID"=2564
    I:"Magical Soul Crop: Magma Cube ID"=2565
    I:"Magical Soul Crop: Skeleton ID"=2566
    I:"Magical Soul Crop: Slime ID"=2567
    I:"Magical Soul Crop: Spider ID"=2568
    I:"Magical Soul Crop: Wither ID"=2569
    I:"Mod Compatibility Blocks, copper ore, tin ore & lead ore, etc"=2570
    I:"Tinted Essence Blocks: Carved Stone Brick"=2571
    I:"Tinted Essence Blocks: Glowstone"=2572
    I:"Tinted Essence Blocks: Large Brick"=2573
    I:"Tinted Essence Blocks: Small Brick"=2574
    I:"Tinted Essence Blocks: Wood Planks"=2575
}


####################
# general
####################

general {
    I:"Change number between 1-100 for chance of getting second seed drop, 10 = 10%, 20 = 20%(default) and so on."=20
    I:"Change to disable or enabled second seed drop, 1 = Enabled (Default), 0 = Disabled"=1
    I:"Disable Crafting for Magic Fertiliser, 0 = Enabled(Default), 1 = disabled"=0
    I:"Disable ability to get Essence seeds, 0 = Enabled(Default), 1 = disabled"=0
    I:"Disable/Enable Generation of Essence ore in the Nether, 0 = Enabled(Default), 1 = disabled"=0
    I:"Disable/Enable Generation of Essence ore in the overworld, 0 = Enabled(Default), 1 = disabled"=0
    I:"Edit max amount of Essence ore that can generate per vein, default = 4"=4
    I:"Edit the amount of seeds you get when crafting, Default 1, Max 64"=1
    I:"Edit the number to change the Y Cord that essence ore starts generating in the overworld, default = 45"=45
    I:"Enable or disable chance of getting Magic Essence from Magical Crops, 1 = Enabled (Default), 0 = Disabled"=1
    I:"Enable or disable particle effects on crops, 1 = Enabled (Default), 0 = Disabled"=1
    I:"Ender Essence Craft Output; EndStone, default 8, Max 64, Min 1"=8
    I:"Ender Essence Craft Output; Ender Frame, default 1, Max 64, Min 1"=1
    I:"Ender Essence Craft Output; Ender Pearls, default 4, Max 64, Min 1"=4
    I:"Essence Craft Output; Blaze Rod, default 3, Max 64, Min 1"=3
    I:"Essence Craft Output; Coal, default 12, Max 64, Min 1"=12
    I:"Essence Craft Output; Diamond, default 1, Max 64, Min 1"=1
    I:"Essence Craft Output; Dye, default 6, Max 64, Min 1"=6
    I:"Essence Craft Output; Emerald, default 1, Max 64, Min 1"=1
    I:"Essence Craft Output; Experience Orb, default 1, Max 64, Min 1"=1
    I:"Essence Craft Output; Glowstone dust, default 12, Max 64, Min 1"=12
    I:"Essence Craft Output; Gold Ore, default 5, Max 64, Min 1"=5
    I:"Essence Craft Output; Iron Ore, default 8, Max 64, Min 1"=8
    I:"Essence Craft Output; Lapis Lazuli, default 12, Max 64, Min 1"=12
    I:"Essence Craft Output; Obsidian, default 8, Max 64, Min 1"=8
    I:"Essence Craft Output; Redstone dust, default 24, Max 64, Min 1"=24
    I:"MOD Essence Craft Output; Aluminum Ore, default 6, Max 64, Min 1"=6
    I:"MOD Essence Craft Output; Ardite Ore, default 2, Max 64, Min 1"=2
    I:"MOD Essence Craft Output; Certus Quartz, default 4, Max 64, Min 1"=4
    I:"MOD Essence Craft Output; Cobalt Ore, default 2, Max 64, Min 1"=2
    I:"MOD Essence Craft Output; Copper Ore, default 6, Max 64, Min 1"=6
    I:"MOD Essence Craft Output; Force Gem, default 8, Max 64, Min 1"=8
    I:"MOD Essence Craft Output; Lead Ore, default 4, Max 64, Min 1"=4
    I:"MOD Essence Craft Output; Nickel/Ferrous Ore, default 4, Max 64, Min 1"=4
    I:"MOD Essence Craft Output; Peridot, default 4, Max 64, Min 1"=4
    I:"MOD Essence Craft Output; Platinum Ingots, default 2, Max 64, Min 1"=2
    I:"MOD Essence Craft Output; Ruby, default 4, Max 64, Min 1"=4
    I:"MOD Essence Craft Output; Sapphire, default 4, Max 64, Min 1"=4
    I:"MOD Essence Craft Output; Silver Ore, default 4, Max 64, Min 1"=4
    I:"MOD Essence Craft Output; Tin Ore, default 6, Max 64, Min 1"=6
    I:"MineFatoryReloaded, Planter and Harvester support, set; 0 = Enabled(Default), 1 = Disable"=0
    I:"Nether Essence Craft Output; Nether Brick, default 16, Max 64, Min 1"=16
    I:"Nether Essence Craft Output; Nether Warts, default 12, Max 64, Min 1"=12
    I:"Nether Essence Craft Output; Netherrack, default 16, Max 64, Min 1"=16
    I:"Nether Essence Craft Output; Quartz, default 8, Max 64, Min 1"=8
    I:"Nether Essence Craft Output; Slowsand, default 8, Max 64, Min 1"=8
    I:"Standard crops, Tomatos, Blackberries adn Cucumbers etc, set; 0 = Enable(Default), 1 = Disable"=0
    I:"Thaumcraft Golem suuport for crops, set; 0 = Enabled(Default), 1 = Disable"=0
}


####################
# item
####################

item {
    I:"Element Essence ID"=15700
    I:"Element Seeds Air"=15701
    I:"Element Seeds Earth"=15702
    I:"Element Seeds Fire"=15703
    I:"Element Seeds Water"=15704
    I:"Infused Diamond Boots ID"=15705
    I:"Infused Diamond Chest ID"=15706
    I:"Infused Diamond Helmet ID"=15707
    I:"Infused Diamond Leggings ID"=15708
    I:"Magic Item: Cobblestone voider"=15709
    I:"Magic Item: Experience Stone"=15710
    I:"Magic Item: Fertilizer"=15711
    I:"Magic Item: Health Stone"=15712
    I:"Magic Item: Obsidian Stone"=15713
    I:"Magic Item: Water Stone"=15714
    I:"Magical Essence Crop ID"=15715
    I:"Magical Essence Standard ID"=15716
    I:"Magical Seeds Aluminum ID"=15717
    I:"Magical Seeds Ardite ID"=15718
    I:"Magical Seeds Blaze ID"=15719
    I:"Magical Seeds Certus Quartz ID"=15720
    I:"Magical Seeds Coal ID"=15721
    I:"Magical Seeds Cobalt ID"=15722
    I:"Magical Seeds Copper ID"=15723
    I:"Magical Seeds Diamond ID"=15724
    I:"Magical Seeds Dye ID"=15725
    I:"Magical Seeds Emerald ID"=15726
    I:"Magical Seeds Ender ID"=15727
    I:"Magical Seeds Essence ID"=15728
    I:"Magical Seeds Experience ID"=15729
    I:"Magical Seeds Ferrous ID"=15730
    I:"Magical Seeds Force ID"=15731
    I:"Magical Seeds Glowstone ID"=15732
    I:"Magical Seeds Gold ID"=15733
    I:"Magical Seeds Iron ID"=15734
    I:"Magical Seeds Lapis ID"=15735
    I:"Magical Seeds Lead ID"=15736
    I:"Magical Seeds Nether ID"=15737
    I:"Magical Seeds Obsidian ID"=15738
    I:"Magical Seeds Peridot ID"=15739
    I:"Magical Seeds Platinum ID"=15740
    I:"Magical Seeds Redstone ID"=15741
    I:"Magical Seeds Ruby ID"=15742
    I:"Magical Seeds Sapphire ID"=15743
    I:"Magical Seeds Silver ID"=15744
    I:"Magical Seeds Tin ID"=15745
    I:"Magical Soul Essence ID"=15746
    I:"Magical Soul Seeds Cow"=15747
    I:"Magical Soul Seeds Creeper"=15748
    I:"Magical Soul Seeds Ghast"=15749
    I:"Magical Soul Seeds Magma Cube"=15750
    I:"Magical Soul Seeds Skeleton"=15751
    I:"Magical Soul Seeds Slime"=15752
    I:"Magical Soul Seeds Spider"=15753
    I:"Magical Soul Seeds Wither"=15754
    I:"Mod Compatibility items, Copper, Tin & Lead etc, ID"=15755
    I:"Mod Essence ID"=15756
    I:"Tool Magical Hoe"=15757
}


