# Configuration file

####################
# armor-balance
####################

armor-balance {
    I:bronze-durability=35
    I:bronze-enchantability=50
    I:bronze-reduction-amount-chest=6
    I:bronze-reduction-amount-feet=2
    I:bronze-reduction-amount-head=3
    I:bronze-reduction-amount-legs=5
    I:glowstone-durability=18
    I:glowstone-enchantability=50
    I:glowstone-reduction-amount-chest=7
    I:glowstone-reduction-amount-feet=3
    I:glowstone-reduction-amount-head=3
    I:glowstone-reduction-amount-legs=6
    I:lazuli-durability=13
    I:lazuli-enchantability=50
    I:lazuli-reduction-amount-chest=5
    I:lazuli-reduction-amount-feet=2
    I:lazuli-reduction-amount-head=2
    I:lazuli-reduction-amount-legs=6
    I:obsidian-durability=50
    I:obsidian-enchantability=50
    I:obsidian-reduction-amount-chest=12
    I:obsidian-reduction-amount-feet=5
    I:obsidian-reduction-amount-head=5
    I:obsidian-reduction-amount-legs=8
    I:osmium-durability=30
    I:osmium-enchantability=50
    I:osmium-reduction-amount-chest=5
    I:osmium-reduction-amount-feet=3
    I:osmium-reduction-amount-head=3
    I:osmium-reduction-amount-legs=6
    I:steel-durability=40
    I:steel-enchantability=50
    I:steel-reduction-amount-chest=7
    I:steel-reduction-amount-feet=3
    I:steel-reduction-amount-head=3
    I:steel-reduction-amount-legs=6
}


####################
# block
####################

block {
    I:BasicBlock=1981
    I:BasicBlock2=1982
    I:BoundingBlock=1983
    I:CardboardBox=1984
    I:EnergyCube=1985
    I:GasTank=1986
    I:Generator=1987
    I:MachineBlock=1988
    I:MachineBlock2=1989
    I:ObsidianTNT=1990
    I:OreBlock=1991
}


####################
# general
####################

general {
    B:AllowSpawnerBoxPickup=true
    I:ClientUpdateDelay=10
    B:ControlCircuitOreDict=true
    I:CopperGenerationAmount=16
    B:CopperGenerationEnabled=true
    B:DisableBCBronzeCrafting=false
    B:DisableBCSteelCrafting=false
    B:DynamicTankEasterEgg=false
    D:EUToJoules=0.1
    B:EnableSounds=true
    D:EnergyPerRedstone=10000.0
    S:EnergyType=J
    B:FancyUniversalCableRender=true
    B:ForceBuildcraftPower=false
    B:Holidays=true
    D:JoulesToEU=10.0
    D:JoulesToMJ=25.0
    B:LogPackets=false
    D:MJToJoules=0.04
    B:MachineEffects=true
    I:ObsidianTNTBlastRadius=12
    I:ObsidianTNTDelay=100
    I:OsmiumGenerationAmount=12
    B:OsmiumGenerationEnabled=true
    D:SoundVolume=1.0
    I:TinGenerationAmount=14
    B:TinGenerationEnabled=true
    B:UpdateNotifications=true
    I:UpgradeModifier=10
    I:VoicePort=36123
    B:VoiceServerEnabled=true
}


####################
# generation
####################

generation {
    D:AdvancedSolarGeneration=400.0
    D:BioGeneration=250.0
    D:HeatGeneration=150.0
    D:HydrogenGeneration=400.0
    D:SolarGeneration=50.0
    D:WindGeneration=100.0
}


####################
# item
####################

item {
    I:ArmoredJetpack=12630
    I:AtomicCore=12631
    I:AtomicDisassembler=12632
    I:Balloon=12633
    I:BioFuel=12634
    I:BrineBucket=12635
    I:BronzeAxe=22000
    I:BronzeBoots=22001
    I:BronzeChestplate=22002
    I:BronzeHelmet=22003
    I:BronzeHoe=22004
    I:BronzeLeggings=22005
    I:BronzePaxel=22006
    I:BronzePickaxe=22007
    I:BronzeShovel=22008
    I:BronzeSword=22009
    I:Clump=12636
    I:CompressedCarbon=12637
    I:CompressedRedstone=12638
    I:Configurator=12639
    I:ControlCircuit=12640
    I:Crystal=12641
    I:DiamondPaxel=22010
    I:Dictionary=12642
    I:DirtyDust=12643
    I:Dust=12644
    I:ElectricBow=12645
    I:ElectrolyticCore=12646
    I:EnergyTablet=12647
    I:EnergyUpgrade=12648
    I:EnrichedAlloy=12649
    I:EnrichedIron=12650
    I:FreeRunners=12651
    I:GasMask=12652
    I:GlowstoneAxe=22011
    I:GlowstoneBoots=22012
    I:GlowstoneChestplate=22013
    I:GlowstoneHelmet=22014
    I:GlowstoneHoe=22015
    I:GlowstoneLeggings=22016
    I:GlowstonePaxel=22017
    I:GlowstonePickaxe=22018
    I:GlowstoneShovel=22019
    I:GlowstoneSword=22020
    I:GoldPaxel=22021
    I:Ingot=12653
    I:IronPaxel=22064
    I:ItemProxy=12654
    I:Jetpack=12655
    I:LazuliAxe=22022
    I:LazuliBoots=22023
    I:LazuliChestplate=22024
    I:LazuliHelmet=22025
    I:LazuliHoe=22026
    I:LazuliLeggings=22027
    I:LazuliPaxel=22028
    I:LazuliPickaxe=22029
    I:LazuliShovel=22030
    I:LazuliSword=22031
    I:MultipartTransmitter=12656
    I:NetworkReader=12657
    I:ObsidianAxe=22032
    I:ObsidianBoots=22033
    I:ObsidianChestplate=22034
    I:ObsidianHelmet=22035
    I:ObsidianHoe=22036
    I:ObsidianLeggings=22037
    I:ObsidianPaxel=22038
    I:ObsidianPickaxe=22039
    I:ObsidianShovel=22040
    I:ObsidianSword=22041
    I:OsmiumAxe=22042
    I:OsmiumBoots=22043
    I:OsmiumChestplate=22044
    I:OsmiumHelmet=22045
    I:OsmiumHoe=22046
    I:OsmiumLeggings=22047
    I:OsmiumPaxel=22048
    I:OsmiumPickaxe=22049
    I:OsmiumShovel=22050
    I:OsmiumSword=22051
    I:PortableTeleporter=12658
    I:Robit=12659
    I:Salt=12660
    I:Sawdust=12661
    I:ScubaTank=12662
    I:Shard=12663
    I:SolarPanel=12664
    I:SpeedUpgrade=12665
    I:SteelAxe=22052
    I:SteelBoots=22053
    I:SteelChestplate=22054
    I:SteelHelmet=22055
    I:SteelHoe=22056
    I:SteelLeggings=22057
    I:SteelPaxel=22058
    I:SteelPickaxe=22059
    I:SteelShovel=22060
    I:SteelSword=22061
    I:StonePaxel=22062
    I:TeleportationCore=12666
    I:WalkieTalkie=12667
    I:WoodPaxel=22063
}


####################
# tool-balance
####################

tool-balance {
    I:bronze-damage=6
    D:bronze-efficiency=14.0
    I:bronze-enchantability=100
    I:bronze-harvestLevel=2
    I:bronze-maxUses=800
    I:bronze-paxel-damage=10
    D:bronze-paxel-efficiency=16.0
    I:bronze-paxel-enchantability=100
    I:bronze-paxel-harvestLevel=3
    I:bronze-paxel-maxUses=1100
    I:glowstone-damage=5
    D:glowstone-efficiency=14.0
    I:glowstone-enchantability=80
    I:glowstone-harvestLevel=2
    I:glowstone-maxUses=300
    I:glowstone-paxel-damage=5
    D:glowstone-paxel-efficiency=18.0
    I:glowstone-paxel-enchantability=100
    I:glowstone-paxel-harvestLevel=2
    I:glowstone-paxel-maxUses=450
    I:lazuli-damage=2
    D:lazuli-efficiency=5.0
    I:lazuli-enchantability=22
    I:lazuli-harvestLevel=2
    I:lazuli-maxUses=200
    I:lazuli-paxel-damage=4
    D:lazuli-paxel-efficiency=6.0
    I:lazuli-paxel-enchantability=50
    I:lazuli-paxel-harvestLevel=2
    I:lazuli-paxel-maxUses=250
    I:obsidian-damage=10
    D:obsidian-efficiency=20.0
    I:obsidian-enchantability=100
    I:obsidian-harvestLevel=3
    I:obsidian-maxUses=2500
    I:obsidian-paxel-damage=10
    D:obsidian-paxel-efficiency=25.0
    I:obsidian-paxel-enchantability=100
    I:obsidian-paxel-harvestLevel=3
    I:obsidian-paxel-maxUses=3000
    I:osmium-damage=4
    D:osmium-efficiency=10.0
    I:osmium-enchantability=30
    I:osmium-harvestLevel=2
    I:osmium-maxUses=500
    I:osmium-paxel-damage=5
    D:osmium-paxel-efficiency=12.0
    I:osmium-paxel-enchantability=40
    I:osmium-paxel-harvestLevel=3
    I:osmium-paxel-maxUses=700
    I:steel-damage=4
    D:steel-efficiency=14.0
    I:steel-enchantability=100
    I:steel-harvestLevel=3
    I:steel-maxUses=850
    I:steel-paxel-damage=8
    D:steel-paxel-efficiency=18.0
    I:steel-paxel-enchantability=100
    I:steel-paxel-harvestLevel=3
    I:steel-paxel-maxUses=1250
}


####################
# usage
####################

usage {
    D:ChemicalCrystalizerUsage=400.0
    D:ChemicalDissolutionChamberUsage=400.0
    D:ChemicalInfuserUsage=200.0
    D:ChemicalInjectionChamberUsage=400.0
    D:ChemicalWasherUsage=200.0
    D:CombinerUsage=50.0
    D:CrusherUsage=50.0
    D:DigitalMinerUsage=100.0
    D:ElectrolyticSeparatorUsage=50.0
    D:EnergizedSmelterUsage=50.0
    D:EnrichmentChamberUsage=50.0
    D:FactoryUsage=50.0
    D:MetallurgicInfuserUsage=50.0
    D:OsmiumCompressorUsage=100.0
    D:OxidationChamberUsage=200.0
    D:PrecisionSawmillUsage=50.0
    D:PurificationChamberUsage=200.0
    D:RotaryCondensentratorUsage=50.0
}


