# Configuration file

####################
# block
####################

block {
    I:"id_tile.ttinkerer:animationTablet"=2480
    I:"id_tile.ttinkerer:aspectAnalyzer"=2481
    I:"id_tile.ttinkerer:darkQuartz"=2482
    I:"id_tile.ttinkerer:darkQuartzSlab"=2483
    I:"id_tile.ttinkerer:darkQuartzSlabFull"=2484
    I:"id_tile.ttinkerer:darkQuartzStairs"=2485
    I:"id_tile.ttinkerer:dislocator"=2486
    I:"id_tile.ttinkerer:enchanter"=2487
    I:"id_tile.ttinkerer:funnel"=2488
    I:"id_tile.ttinkerer:gaseousLight"=2489
    I:"id_tile.ttinkerer:gaseousShadow"=2490
    I:"id_tile.ttinkerer:interface"=2491
    I:"id_tile.ttinkerer:magnet"=2492
    I:"id_tile.ttinkerer:nitorGas"=2493
    I:"id_tile.ttinkerer:platform"=2494
    I:"id_tile.ttinkerer:repairer"=2495
    I:"id_tile.ttinkerer:warpGate"=2496
    ####################
    # kami
    #===================
    # These will only be used if KAMI is loaded. (KAMI is a separate download you can find in the Thaumic Tinkerer thread)
    ####################

    kami {
    }

}


####################
# enchantments
####################

enchantments {
    I:"id_enchant.ttinkerer:ascentBoost"=220
    I:"id_enchant.ttinkerer:autoSmelt"=222
    I:"id_enchant.ttinkerer:desintegrate"=223
    I:"id_enchant.ttinkerer:quickDraw"=224
    I:"id_enchant.ttinkerer:slowFall"=221
    I:"id_enchant.ttinkerer:vampirism"=225
}


####################
# general
####################

general {
    # Set to false to disable usage of ore dictionary metals (tin and copper).
    B:oreDictMetal.enabled=true

    # Set to true to enable Easy Research (getting research notes = instant discovery). For those who don't like research.
    B:research.easymode.enabled=false

    # Set to false to disable the crafting recipe for the Tome of Research Sharing.
    B:shareTome.survival.enabled=true

    # Set to false to disable the [TT] tooltips in the thauminomicon.
    B:tooltipIndicators.enabled=true
    ####################
    # kami
    #===================
    # These will only be used if KAMI is loaded. (KAMI is a separate download you can find in the Thaumic Tinkerer thread)
    ####################

    kami {
        # The Dimension ID for the End, leave at 1 if you don't modify it with another mod/plugin.
        I:dimension.end.id=1

        # The Dimension ID for the Nether, leave at -1 if you don't modify it with another mod/plugin.
        I:dimension.nether.id=-1

        # Set to false to remove the phantom blocks displayed by the Worldshaper's Seeing Glass.
        B:placementMirror.blocks.show=true
    }

}


####################
# item
####################

item {
    I:"id_item.ttinkerer:bloodSword"=14980
    I:"id_item.ttinkerer:brightNitor"=14981
    I:"id_item.ttinkerer:cleansingTalisman"=14982
    I:"id_item.ttinkerer:connector"=14983
    I:"id_item.ttinkerer:darkQuartz"=14984
    I:"id_item.ttinkerer:focusDeflect"=14985
    I:"id_item.ttinkerer:focusDislocation"=14986
    I:"id_item.ttinkerer:focusEnderChest"=14987
    I:"id_item.ttinkerer:focusFlight"=14988
    I:"id_item.ttinkerer:focusHeal"=14989
    I:"id_item.ttinkerer:focusSmelt"=14990
    I:"id_item.ttinkerer:focusTelekinesis"=14991
    I:"id_item.ttinkerer:gasRemover"=14992
    I:"id_item.ttinkerer:gaseousLight"=14993
    I:"id_item.ttinkerer:gaseousShadow"=14994
    I:"id_item.ttinkerer:infusedInkwell"=14995
    I:"id_item.ttinkerer:revealingHelm"=14996
    I:"id_item.ttinkerer:shareBook"=14997
    I:"id_item.ttinkerer:soulMould"=14998
    I:"id_item.ttinkerer:spellCloth"=14999
    I:"id_item.ttinkerer:xpTalisman"=15000
    ####################
    # kami
    #===================
    # These will only be used if KAMI is loaded. (KAMI is a separate download you can find in the Thaumic Tinkerer thread)
    ####################

    kami {
        I:"id_item.ttinkerer:blockTalisman"=15050
        I:"id_item.ttinkerer:catAmulet"=15051
        I:"id_item.ttinkerer:focusRecall"=15052
        I:"id_item.ttinkerer:focusShadowbeam"=15053
        I:"id_item.ttinkerer:focusXPDrain"=15054
        I:"id_item.ttinkerer:ichorAxe"=15055
        I:"id_item.ttinkerer:ichorAxeGem"=15056
        I:"id_item.ttinkerer:ichorPick"=15057
        I:"id_item.ttinkerer:ichorPickGem"=15058
        I:"id_item.ttinkerer:ichorPouch"=15059
        I:"id_item.ttinkerer:ichorShovel"=15060
        I:"id_item.ttinkerer:ichorShovelGem"=15061
        I:"id_item.ttinkerer:ichorSword"=15062
        I:"id_item.ttinkerer:ichorSwordGem"=15063
        I:"id_item.ttinkerer:ichorclothBoots"=15064
        I:"id_item.ttinkerer:ichorclothBootsGem"=15065
        I:"id_item.ttinkerer:ichorclothChest"=15066
        I:"id_item.ttinkerer:ichorclothChestGem"=15067
        I:"id_item.ttinkerer:ichorclothHelm"=15068
        I:"id_item.ttinkerer:ichorclothHelmGem"=15069
        I:"id_item.ttinkerer:ichorclothLegs"=15070
        I:"id_item.ttinkerer:ichorclothLegsGem"=15071
        I:"id_item.ttinkerer:kamiResource"=15072
        I:"id_item.ttinkerer:placementMirror"=15073
        I:"id_item.ttinkerer:protoclay"=15074
        I:"id_item.ttinkerer:skyPearl"=15075
    }

}


