# Configuration file

####################
# block
####################

block {
    I:AlluringSkullID=3500
    I:AltarID=3501
    I:ArtichokeID=3502
    I:BarrierID=3503
    I:BelladonnaID=3504
    I:BloodRoseID=3505
    I:CandelabraID=3506
    I:ChaliceID=3507
    I:CritterSnareID=3508
    I:CrystalBallID=3509
    I:DistilleryBurningID=3510
    I:DistilleryID=3511
    I:DoorAlderID=3512
    I:DoorRowanID=3513
    I:DreamCatcherID=3514
    I:EmberMossID=3515
    I:EnderBrambleID=3516
    I:FilteredFumeFunnelID=3517
    I:FumeFunnelID=3518
    I:GlintWeedID=3519
    I:GlowGlobeID=3520
    I:GlyphCircleID=3521
    I:GlyphInfernalID=3522
    I:GlyphOtherwhereID=3523
    I:GlyphWorldID=3524
    I:GrassperID=3525
    I:KettleID=3526
    I:LeapingLilyID=3527
    I:LeavesID=3528
    I:LeechChestID=3529
    I:LogID=3530
    I:MandrakeID=3531
    I:OvenBurningID=3532
    I:OvenID=3533
    I:PlacedItemID=3534
    I:PlantMineID=3535
    I:PoppetChestID=3536
    I:SaplingID=3537
    I:SnowbellID=3538
    I:SpanishMossID=3559
    I:StairsAlderID=3560
    I:StairsHawthornID=3561
    I:StairsRowanID=3562
    I:StatueGoddessID=3563
    I:VoidBrambleID=3564
    I:WickerBundleID=3565
    I:WoodDoubleSlabID=3566
    I:WoodID=3567
    I:WoodSingleSlabID=3568
}


####################
# entity
####################

entity {
    I:BabaYagaID=109
    I:BroomID=93
    I:CatID=106
    I:CovenWitchaID=110
    I:DemonID=92
    I:EntID=100
    I:EyeID=108
    I:FamiliarID=95
    I:HuntsmanID=98
    I:Illusion1ID=101
    I:Illusion2ID=102
    I:Illusion3ID=103
    I:LouseID=107
    I:MandrakeID=96
    I:OwlID=104
    I:SpellEffectID=99
    I:ToadID=105
    I:TreefydID=97
    I:WitchProjectileID=94
}


####################
# general
####################

general {
    B:AddSmeltingForAllSaplingsToWoodAsh=true
    B:AllowBiomeModificationRituals=true
    B:AllowDeathItemRecoveryRite=true
    B:AllowGoddessStatueRecipe=false
    B:AllowHellOnEarthFires=true
    B:AllowModForestry=true
    B:AllowModIntegration=true
    B:AllowModMineFactoryReloaded=true
    B:AllowModNEI=true
    B:AllowModThaumcraft=true
    B:AllowModTreecapitator=true
    B:AllowVoidBrambleRecipe=false
    I:ApothecaryVillagerID=2435
    I:BranchGlyphSet=0
    I:CovenWitchSpawnWeight=2
    B:DoubleFumeFilterChance=false
    B:GUIOnLeft=true
    B:GenerateApothecaries=true
    B:GenerateCovens=true
    B:GenerateShacks=true
    B:GenerateWickerMen=true
    B:GenerateWitchHuts=true
    B:RespectOtherDeathChestMods=true
    S:StrawmanSpawnerRules <
        Zombie
        Zombie
        Skeleton
     >
    I:WorldGenFrequency=12
    B:WorldGenInTwilightForest=true
}


####################
# item
####################

item {
    I:ArthanaID=30000
    I:ChalkHeartID=30001
    I:ChalkInfernalID=30002
    I:ChalkOtherwhereID=30003
    I:ChalkRitualID=30004
    I:CircleTalismanID=30005
    I:DevilsTongueCharmID=30006
    I:GeneralID=30007
    I:IceSlippersID=30008
    I:LavaDivinerID=30009
    I:LouseID=30010
    I:MutatorID=30011
    I:MysticBranchID=10642
    I:PolynesiaCharmID=10632
    I:PoppetID=10629
    I:RobeNecromancerID=10639
    I:RobeWitchesID=10638
    I:SeedsArtichokeID=10637
    I:SeedsBelladonnaID=10635
    I:SeedsMandrakeID=10636
    I:SeedsSnowbellID=10641
    I:TaglockKitID=10628
    I:WaterDivinerID=10626
    I:WitchHandID=10620
    I:WitchesHatID=10634
}


