# Configuration file

####################
# achievement ids
####################

"achievement ids" {
    I:BEDROCKBREAKER=24012
    I:BEDROCKSHAFT=24016
    I:BEDROCKTOOLS=24017
    I:BORER=24006
    I:CUTKNOT=24034
    I:CVT=24015
    I:DAMAGEGEARS=24023
    I:DIAMONDGEARS=24024
    I:EXTRACTOR=24002
    I:FLOODLIGHT=24022
    I:GIGAWATT=24026
    I:GPR=24005
    I:GPRENDPORTAL=24033
    I:GPRSPAWNER=24032
    I:GRAVELGUN=24029
    I:JETCHICKEN=24018
    I:JETENGINE=24009
    I:JETFAIL=24019
    I:JETFUEL=24007
    I:LANDMINE=24030
    I:LIGHTFALL=24020
    I:MAKERAILGUN=24010
    I:MAKESTEEL=24000
    I:MAKEYEAST=24001
    I:MASSIVEHIT=24036
    I:MRADS32=24025
    I:NETHERHEATRAY=24031
    I:OVERPRESSURE=24037
    I:PCB=24003
    I:PUMP=24004
    I:RAILDRAGON=24027
    I:RAILKILLED=24028
    I:RAREEXTRACT=24035
    I:RECYCLE=24008
    I:SPRINKLER=24021
    I:STEAMENGINE=24013
    I:STEELSHAFT=24014
    I:SUCKEDINTOJET=24011
}


####################
# control
####################

control {
    I:"Config ID - Edit to have your config auto-deleted"=0
}


####################
# control setup
####################

"control setup" {
    B:"Allow Bedrock Breaker to Break Y=0"=false
    B:"Allow Bedrock Pickaxe to Harvest Spawners"=true
    B:"Allow Build Blocking of Some Machines"=false
    B:"Allow Craftable Bedrock"=true
    B:"Allow Gravel Gun PvP"=true
    B:"Allow RC steel to be used in other mods"=false
    I:"Bait Box Range"=128
    B:"Block Damage from Destructive Machines"=true
    I:"Block Ram Range"=512
    I:"Breeder Range"=128
    I:"Cave Scanner FOV"=16
    I:"Chest Generation Tier"=4
    B:"Color Blind Mode"=false
    B:"Conservative Jetpack Firing"=true
    B:"Console Loading Info"=true
    B:"Crafting Table can Make Machines"=false
    B:"Crash on hostile interference from other mods"=true
    B:"Debug Mode"=false
    I:"Difficulty Control"=2
    B:"Direct Block Damage from Machine Failures"=true
    B:"Direct Block Damage from Machines and Failures"=true
    B:"Disable Silver Iodide Cannon Rain"=false
    I:"EMP Charging Speed"=4
    B:"Enable Achievements"=true
    B:"Engine Running Sounds"=true
    B:"Explode jetpack if player is in lava"=true
    I:"Fluid Flow Speed"=5
    B:"Force Inter-Mod Ore Compatibility"=false
    B:"GPR Renders Ores"=true
    B:"Instant Woodcutter"=true
    B:"Lock enchants on bedrock tools"=true
    B:"Log Block Placement and Removal"=false
    D:"Machine Volume Multiplier"=1.0
    B:"Machine Warning Alarms"=false
    I:"Max Aerosolizer Range"=128
    I:"Max Bait Box Mob Count"=256
    I:"Max Bridge Range"=128
    I:"Max Fan Range"=128
    I:"Max Floodlight Range"=128
    I:"Max Force Field Range"=128
    I:"Max Heat Ray Range"=128
    I:"Max Sonic Weapon Range"=128
    I:"Max Vacuum Range"=128
    B:"Owner-Only Machine Use"=false
    I:"Player Detector Range"=128
    B:"Railgun Block Damage"=true
    B:"Reload Handbook Data on Open"=false
    B:"Render projector lines"=true
    B:"Rotate Hose/Pipe/Fuel Line Recipes"=false
    B:"Show Force Fields"=true
    I:"Sonic Borer Range"=512
    B:"Spawn Mobs When Harvesting Spawners By Hand"=true
    B:"Spawn with RC Handbook"=true
    I:"Spawner Mob Limit"=128
    I:"Sprinkler Particle Density"=4
    I:"Sync Packet Interval in Ticks"=1
    B:"Terraformer Block Editing"=true
    B:"Turrets can target players"=true
}


####################
# crafting item ids
####################

"crafting item ids" {
    I:"Borer Crafting Items"=26900
    I:"Engine Crafting Items"=26901
    I:"Gear Units"=26902
    I:"Heat Ray Crafting Items"=26903
    I:"Shaft Crafting Items"=26904
}


####################
# extra block ids
####################

"extra block ids" {
    I:"Beam Block"=2720
    I:"Bedrock Slice"=2721
    I:"Blast Glass"=2722
    I:"Blast Glass Pane"=2723
    I:Canola=2724
    I:"Deco Block"=2725
    I:"Decorative Tank"=2726
    I:"Light Bridge"=2727
    I:LightBlock=2728
    I:"Mining Pipe"=2729
}


####################
# item ids
####################

"item ids" {
    I:"Bedrock Boots"=26905
    I:"Bedrock Chestplate"=26906
    I:"Bedrock Helmet"=26907
    I:"Bedrock Jetpack"=26908
    I:"Bedrock Leggings"=26909
    I:"Bedrock Spring Boots"=26910
    I:"Canola Seeds"=26911
    I:"Ethanol Crystals"=26912
    I:"Ethanol Jetpack"=26913
    I:"Ethanol Minecart"=26914
    I:"Explosive Shell"=26915
    I:"HSLA Steel Boots"=26916
    I:"HSLA Steel Chestplate"=26917
    I:"HSLA Steel Helmet"=26918
    I:"HSLA Steel Leggings"=26919
    I:"High-Strength Spring"=26920
    I:"I/O Goggles"=26921
    I:"Night Vision Goggles"=26922
    I:"Night Vision Helmet"=26923
    I:"Projector Slide"=26924
    I:"RailGun Ammunition"=26925
    I:"Spring Boots"=26926
    I:"Wind Spring"=26927
    I:Yeast=26928
}


####################
# itemblock ids
####################

"itemblock ids" {
    I:"Advanced Gear Items"=26929
    I:"Engine Items"=26930
    I:"Flywheel Items"=26931
    I:"Gearbox Items"=26932
    I:"Machine Items"=26933
    I:"Shaft Items"=26934
    I:Spawner=26935
}


####################
# machine blocks
####################

"machine blocks" {
    I:"Advanced Gears"=2730
    I:"Basic Machines"=2731
    I:"D-Type Machines"=2732
    I:"DM-Type Machines"=2733
    I:"DMI-Type Machines"=2734
    I:Engines=2735
    I:Flywheels=2736
    I:GPR=2737
    I:Gearboxes=2738
    I:"I-Type Machines"=2739
    I:"M-Machines 2"=2740
    I:"M-Type Machines"=2741
    I:"MI-Machines 2"=2742
    I:"MI-Type Machines"=2743
    I:"Mod Interface"=2744
    I:Piping=2745
    I:Shaft=2746
    I:"Solar Receiver"=2747
    I:Transmission=2748
}


####################
# resource item ids
####################

"resource item ids" {
    I:"Compactor Items"=26936
    I:"Extractor Items"=26937
    I:"Mod Ore Extractor Items"=26938
    I:"Mod Ore Ingots"=26939
    I:Powders=26940
}


####################
# tool item ids
####################

"tool item ids" {
    I:"Angular Transducer"=26941
    I:"Bedrock Axe"=26942
    I:"Bedrock Hoe"=26943
    I:"Bedrock Pickaxe"=26944
    I:"Bedrock Shears"=26945
    I:"Bedrock Shovel"=26946
    I:"Bedrock Sword"=26947
    I:Bucket=26948
    I:"Cannon Key"=26949
    I:"Fireball Launcher"=26950
    I:"Gravel Gun"=26951
    I:"HSLA Steel Axe"=26952
    I:"HSLA Steel Hoe"=26953
    I:"HSLA Steel Pickaxe"=26954
    I:"HSLA Steel Shears"=26955
    I:"HSLA Steel Shovel"=26956
    I:"HSLA Steel Sword"=26957
    I:"Handheld Crafting Tool"=26958
    I:"Knockback Gun"=26959
    I:"Magic Wand"=26960
    I:"Motion Tracker"=26961
    I:"Music Box Record"=26962
    I:"Portable Backup Fuel Tank"=26963
    I:"RotaryCraft Handbook"=26964
    I:Screwdriver=26965
    I:"Spring-Powered Pump"=26966
    I:"TNT Cannon Targeting Aid"=26967
    I:"Tile Selector"=26968
    I:Ultrasound=26969
    I:Vacuum=26970
    I:"WorldEdit Tool"=26971
    I:item.firelauncher=26972
    I:item.flamethrower=26973
}


